.main-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: gray;
    padding-top: 5px;
}

.main-footer .logo {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.main-footer .logo a {
    display: inline-block;
}

.wrapper {
    min-height: 100%;
    position: relative;
}