.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    /*aqui*/
}

.project-list iframe {
    width: 560px;
    height: 315px;

}

.project-list a {
    margin-left: 5px;
    margin-right: 5px;
    

}

.project-list p {
    display: flex;
    justify-content: center;
    
}

.sketchfab-embed-wrapper{
margin-bottom: 35px;
}

@media only screen and (max-width: 600px) {
    .sketchfab-embed-wrapper {
        margin-bottom: 50px;
        width: 80%;
        height: 200px;
    }

    .project-list iframe {
        width: 100%;
        height: 100%;
    }
}